{% load static %}

<div class="container">
    <nav class="navbar is-size-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-semibold" href="/">
                <img src="{% static 'analyzer/pink.png' %}">
            </a>
            <a class="navbar-item has-text-weight-semibold is-size-6" href="/">
                Hello, I'm your MVT companion!
            </a>

            <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a> -->
        </div>

        <div class="navbar-menu" id="navbarMain">
            <!-- <div class="navbar-end has-text-centered-touch">
                <a class="navbar-item" href="/">About</a>
            </div> -->
        </div>

    </nav>
</div>